<section>
    <h2>Usuarios registrados:</h2>

    <ul>
        <!-- Sintaxis JavaScript -->
        <% users.forEach(user => { %>
    
            <li><%= user.name %></li>
    
        <% }) %>
    </ul>
     
</section>