
<section>
    <h2><%= title %></h2>
    <hr>
    <p>
        Esta es la documentaci贸n de nuestra API.
    </p>
    <article>
        <h5>Informaci贸n relevante del estado de la aplicaci贸n:</h5>
        <p>
            <b>DB Status:</b> 
            <% if (dbStatus === 'DB conectada correctamente') {%>
                <span class="ok"><%= dbStatus %></span>
            <% } else { %>
              <span class="error"><%= dbStatus %></span>
            <% } %>
        </p>
    </article>
    <p>
        Frontend funcionando en <a href="https://healthupcac.netlify.app/" target="_blank"><%= frontendURL %></a>
    </p>
    <pre>
        <code>
            example
        </code>
    </pre>
    <blockquote>
        tercer ejemplo
    </blockquote>
    <p>
        Si desea navegar y utilizar la aplicaci贸n final completa, la cual integra el front-end con el back-end, haga click en <a href="">ESTE ENLACE</a>
    </p>
    <article>
        Aqui hay un articulo
    </article>
</section>
